# Ignore dependencies
node_modules/

# Ignore environment variables
.env
.env.local

# Ignore logs
logs
*.log
npm-debug.log*

# Ignore macOS system files
.DS_Store

# Ignore Visual Studio files
/.vs/
/.vs/slnx.sqlite
/.vs/TestBackend-api/FileContentIndex

# Ignore build artifacts
dist/
build/

# Ignore IDE-specific files
.vscode/
.idea/